---
title: Blog
background: bg-indigo-300
---

<!doctype html>
<html lang="en" class="{{ background }}">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="{{ page | toUrl }}" />
        <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="/apple-touch-icon.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="/favicon-32x32.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="/favicon-16x16.png"
        />
        <link rel="manifest" href="/site.webmanifest" />

        {% if seo_title %}
        <title>{{ seo_title }} | Gemmms.com</title>
        {% elsif isGem %}
        <title>{{ title }} | Gem Astrology & Healing | ELI5 | Gemmms.com</title>
        {% else %}
        <title>Gem Astrology & Healing Directory | Gemmms.com</title>
        {% endif %} {% if isGem %}
        <meta
            name="og:title"
            href="{{ title }} - Astrology & Healing - ELI5 | Gemmms.com"
        />
        <meta property="og:image:secure_url" content="{{ page | toThumb }}" />
        <meta property="og:image:width" content="256" />
        <meta property="og:image:height" content="256" />
        <meta property="og:image:type" content="image/webp" />
        {% endif %}

        <link rel="stylesheet" href="/app.min.css" />
        {% if canonical %}
        <link rel="canonical" href="{{canonical}}" />
        {% endif %} {% if meta_description %}
        <meta name="description" content="{{meta_description}}" />
        <meta name="og:description" content="{{meta_description}}" />
        {% endif %}
    </head>
    <!-- Google tag (gtag.js) -->
    <script
        async
        src="https://www.googletagmanager.com/gtag/js?id=G-XPNHWSC497"
    ></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            dataLayer.push(arguments);
        }
        gtag("js", new Date());

        gtag("config", "G-XPNHWSC497");
    </script>
    <body>
        <main class="max-w-[70ch] w-full mx-auto space-y-12">
            {% if back %}
            <a
                href="{{back[0]}}"
                class="text-blue-500 flex items-center space-x-1"
            >
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="w-6 h-6"
                >
                    <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M15.75 19.5 8.25 12l7.5-7.5"
                    />
                </svg>

                {{back[1]}}
            </a>
            {% endif %} {% if seo_title %}
            <h1 class="title">{{ seo_title }}</h1>
            {% else %}
            <h1 class="title">{{ title }}</h1>
            {% endif %} {% if toc %} {{ content | toc }}
            <hr />
            {% endif %}
            <article class="space-y-6">{{ content }}</article>
            {% if suggestions %}
            <hr />
            <article>
                <h3>Checkout these gems instead</h3>
                {%- assign suggestions = collections.gems | shuffle -%}
                <ul>
                    {% for page in suggestions limit:10 %}{% if
                    page.data.suggest %}
                    <li>
                        <a href="{{ page | toUrl}}">{{page.data.title}}</a>
                    </li>
                    {% endif %}{%- endfor %}
                </ul>
            </article>
            {% endif %}
            <hr />
        </main>

        <footer class="max-w-[70ch] w-full mx-auto space-y-3 mt-12">
            <p class="m-0">
                Thank you for your interest in this website. We're continually
                working to expand and enrich our content, and we look forward to
                sharing more with you over time.
            </p>
            <p class="m-0">Release: Early Access Beta</p>
            <p class="m-0">
                Illustrations provided by
                <a href="https://openai.com/index/dall-e-3/" target="_blank"
                    >DALL-E 3</a
                >, World map provided by
                <a href="https://simplemaps.com/" target="_blank">SimpleMaps</a>
            </p>
            <p class="m-0">
                &COPY; {{ page.date | date: "%Y" }}. All rights reserved.
            </p>
        </footer>
    </body>
</html>
